<manifest package="com.roselism.rosen"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/library_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    </application>

</manifest>
